.is-warning {
    a:link, a:visited {
        color: #000000;
    }
    a:hover, a:focus {
        color: #333333;
    }
}

.textarea {
    min-height: 500px;
}

.message-header {
    .button {
        text-decoration: none;
    }
}